<div class="container">
    <div class="row">
        <div class="col-xd-12">
            <h2>Url of the page to analyze</h2>
            <form name="urlForm" class="form-inline" novalidate="" ng-submit="urlForm.$valid && contentCtrl.scrap()">
                <div class="form-group">
                    <label class="sr-only" for="urlToScrap">Url to scrap</label>
                    <div class="input-group">
                        <div class="input-group-addon">URL</div>
                        <input type="url" required="" class="form-control" id="urlToScrap" name="urlToScrap" placeholder="http..."
                            ng-model="contentCtrl.url"/>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="contentCtrl.loading">Analyze content</button>
                <p class="text-danger" ng-show="urlForm.$submitted && ((urlForm.urlToScrap.$error.url) || (urlForm.urlToScrap.$error.required))">
                    A valid URL is required.
                </p>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xd-12">
            <div ng-show="contentCtrl.words || contentCtrl.loading">
                <h2>Content</h2>
                <p>Each word is given a score depending on the HTML tags where it has been found. Words are displayed by descreasing scores.</p>
            </div>

            <div class="progress" ng-show="contentCtrl.loading">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="contentCtrl.loading">
        <div class="col-lg-3 col-md-4 col-sm-4 " ng-repeat="word in contentCtrl.words | orderBy:'-weight' track by word.label">
            <div class="word">
                <div class="wordTitle">
                    <span class="wordLabel">{{::word.label}}</span><span class="wordWeight">: {{word.weight}}</span>
                </div>
                <div class="wordTags">
                    <span class="badge tag" ng-repeat="(tag, count) in word.tags">{{::tag}}: {{::count}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
